*.pyc
test/fixtures/tmp/*
models/resnet_v1_101
models/inception_v3/state/model.pb
models/inception_v3/state/model.pbtxt
models/inception_resnet_v2/state
models/slim
test/fixtures/scaffolds/scene_type/cache/*
*.DS_Store
*.so
build
dist
transferflow.egg-info/
.cache
ve
